# Unraid Configurations (Supports multiple servers by using UNRAID_<NAME>_ prefix)
# Server 1
UNRAID_MAIN_URL=http://your-main-unraid-ip:3000/graphql
UNRAID_MAIN_KEY=your_main_connect_token_here

# Server 2
UNRAID_BACKUP_URL=http://your-backup-unraid-ip:3000/graphql
UNRAID_BACKUP_KEY=your_backup_connect_token_here

# UniFi Configuration
UNIFI_API_URL=https://your-unifi-ip
UNIFI_API_USER=your_username
UNIFI_API_PASS=your_password