# Unraid Configurations (Supports multiple servers by using UNRAID_<NAME>_ prefix)
# Server 1
UNRAID_MAIN_URL=http://your-main-unraid-ip:3000/graphql
UNRAID_MAIN_KEY=your_main_connect_token_here

# Server 2
UNRAID_BACKUP_URL=http://your-backup-unraid-ip:3000/graphql
UNRAID_BACKUP_KEY=your_backup_connect_token_here

# UniFi Configuration
UNIFI_API_URL=https://your-unifi-ip
UNIFI_API_USER=your_username
UNIFI_API_PASS=your_password

# Tautulli Configuration
TAUTULLI_API_URL=http://your-tautulli-ip:8181
TAUTULLI_API_KEY=your_tautulli_api_key

# Radarr Configuration
RADARR_API_URL=http://your-radarr-ip:7878
RADARR_API_KEY=your_radarr_api_key

# Sonarr Configuration
SONARR_API_URL=http://your-sonarr-ip:8989
SONARR_API_KEY=your_sonarr_api_key

# Lidarr Configuration
LIDARR_API_URL=http://your-lidarr-ip:8686
LIDARR_API_KEY=your_lidarr_api_key

# Plex Configuration
PLEX_API_URL=http://your-plex-ip:32400
PLEX_API_TOKEN=your_plex_token

# NZBGet Configuration
NZBGET_API_URL=http://your-nzbget-ip:6789
NZBGET_API_USER=your_nzbget_username
NZBGET_API_PASS=your_nzbget_password

# Grafana Configuration
GRAFANA_URL=http://your-grafana-ip:3000
GRAFANA_API_KEY=your_grafana_service_account_token
# GRAFANA_USER=admin
# GRAFANA_PASS=your_password

# Dagu Configuration
DAGU_API_URL=http://your-dagu-ip:8080
DAGU_API_KEY=your_dagu_api_key